

<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ACBS - Đón đầu cơ hội đầu tư mới</title>
    <meta name="description" content="ACBS - Đón đầu cơ hội đầu tư mới" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
     <header class="border-bottom main-nav-wrap">
  <div class="container">
    <div
      class="
        d-flex
        flex-wrap
        justify-content-between justify-content-lg-start
        main-nav
      "
    >
      <div class="main-logo-bg">
        <a
          href="/"
          class="
            d-flex
            align-items-center
            text-dark text-decoration-none
            main-logo
          "
        >
          <img
            src="img/logo-1.png"
            alt=""
            class="img-fluid"
          />
        </a>
      </div>

      <ul
        class="
          nav
          ps-4
          col-12 col-lg-auto
          me-lg-auto
          mb-2
          justify-content-center
          mb-md-0
          d-none d-lg-flex
        "
      >
        <li class="nav-item d-flex has-dropdown">
          <a
            href=""
            class="
              nav-link
              px-2
              link-dark-blue
              d-flex
              align-items-center
              text-uppercase
            "
          >
            ACBS

            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon size-16 ms-1"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </a>

          <div class="main-nav-mega-wrap">
            <div class="main-nav-mega container">
              <div class="row">
                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Giới thiệu</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Tổng quan</a>
                      </li>
                      <li>
                        <a href="">Ban điều hành</a>
                      </li>
                      <li>
                        <a href="">Giá trị thương hiệu</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Công bố thông tin</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Bản tin công bố</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Tin tức &amp; Sự kiện</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Tin hot</a>
                      </li>
                      <li>
                        <a href="">Sự kiện</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Tuyển dụng</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Danh sách tuyển dụng</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item d-flex has-dropdown">
          <a
            href=""
            class="
              nav-link
              d-flex
              align-items-center
              px-2
              link-dark-blue
              text-uppercase
            "
            >Sản phẩm & Dịch vụ
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon size-16 ms-1"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </a>

          <div class="main-nav-mega-wrap">
            <div class="main-nav-mega container">
              <div class="row">
                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Môi giới</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Tổng quan</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Tài trợ giao dịch</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Xem chi tiết</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Phân phối ETF</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Bản tin phân phối</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Phân phối chứng chỉ quỹ mở</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Xem chi tiết</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Sản phẩm hỗ trợ liên kết</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Xem chi tiết</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Hỗ trợ và tiện ích</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Mẫu biểu</a>
                      </li>
                      <li>
                        <a href="">Danh mục mua chứng khoán lỗ lẻ</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item d-flex has-dropdown">
          <a
            href=""
            class="
              nav-link
              d-flex
              align-items-center
              px-2
              link-dark-blue
              text-uppercase
            "
            >Trung tâm phân tích
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon size-16 ms-1"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </a>

          <div class="main-nav-mega-wrap">
            <div class="main-nav-mega container">
              <div class="row">
                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Phân tích cổ phiếu</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Xem chi tiết</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Bản tin chứng quyền</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Xem chi tiết</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
     

      <div
        class="
          col-12 col-lg-auto
          mb-3 mb-lg-0
          align-self-center
          d-none d-lg-block
        "
      >
        <button type="button" class="btn btn-sm btn-primary-2 mx-1">
          Đăng nhập
        </button>
        <button type="button" class="btn btn-sm btn-primary mx-1">
          Đăng ký
        </button>
      </div>
      <div class="dropdown text-end ms-4 align-self-center d-none d-lg-block">
        <a
          href="#"
          class="
            d-flex
            align-items-center
            link-dark-blue
            text-decoration-none
            py-2
            px-1
          "
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="img/flag/flag-vn.svg"
            alt="Viet nam"
            class=""
            width="22"
            height="22"
          />
          <div class="ms-2 me-1">VN</div>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon size-16"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </a>

        <ul
          class="dropdown-menu text-small acb-dropdown dropdown-menu-end"
          aria-labelledby="dropdownUser1"
          style=""
        >
          <li class="">
            <a
              class="dropdown-item d-flex align-items-center current py-1"
              href="#"
            >
              <img
                src="img/flag/flag-vn.svg"
                alt="Viet nam"
                class=""
                width="22"
                height="22"
              />
              <div class="ms-2 me-1 font-sm">Tiếng Việt</div>
            </a>
          </li>
          <li class="">
            <a class="dropdown-item d-flex align-items-center py-1" href="#">
              <img
                src="img/flag/flag-gb.svg"
                alt="Viet nam"
                class=""
                width="22"
                height="22"
              />
              <div class="ms-2 me-1 font-sm">Tiếng Anh</div>
            </a>
          </li>
        </ul>
      </div>

      <div class="align-self-center d-block d-lg-none">
        <button
          class="hamburger hamburger--squeeze main-menu-hamburger mt-2"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
  </div>
</header>

<div
  class="offcanvas offcanvas-end main-menu-offcanvas"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    
  </div>

  <div class="offcanvas-body p-0">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            ACBS
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div class="row">
              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Giới thiệu</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Tổng quan</a>
                    </li>
                    <li>
                      <a href="">Ban điều hành</a>
                    </li>
                    <li>
                      <a href="">Giá trị thương hiệu</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Công bố thông tin</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Bản tin công bố</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Tin tức &amp; Sự kiện</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Tin hot</a>
                    </li>
                    <li>
                      <a href="">Sự kiện</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Tuyển dụng</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Danh sách tuyển dụng</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            Sản phẩm & Dịch vụ
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div class="row">
              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Môi giới</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Tổng quan</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Tài trợ giao dịch</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Xem chi tiết</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Phân phối ETF</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Bản tin phân phối</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Phân phối chứng chỉ quỹ mở</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Xem chi tiết</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Sản phẩm hỗ trợ liên kết</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Xem chi tiết</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Hỗ trợ và tiện ích</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Mẫu biểu</a>
                    </li>
                    <li>
                      <a href="">Danh mục mua chứng khoán lỗ lẻ</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            Trung tâm phân tích
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div class="row">
              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Phân tích cổ phiếu</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Xem chi tiết</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Bản tin chứng quyền</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Xem chi tiết</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 

    <!-- Main Body Content -->
    

<section
  class="page-heading"
  style="background-image: url(img/cbtt/congbothongtin-bg.jpg)"
>
  <div class="container px-4 px-md-3 text-center">
    <h1 class="text-white">Công bố thông tin</h1>
  </div>
</section>
<div class="acbs-breadcrumb">
  <nav aria-label="breadcrumb" class="container px-4 px-md-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html" class="link-dark-blue">Trang chủ</a>
      </li>

      <li class="breadcrumb-item" aria-current="page">
        <a href="congbothongtin.html" class="link-dark-blue">
          Công bố thông tin
        </a>
      </li>

      <li class="breadcrumb-item active" aria-current="page">
        Danh mục chứng khoán cho phép giao dịch ký quỹ tại ACBS ngày 07/10/2021
      </li>
    </ol>
  </nav>
</div>

<section class="bdh-section section-normal less-space">
  <div class="container px-4 px-md-3">
    <div class="row">
      <div class="col-12 col-lg-8 col-xl-9 order-2 order-lg-1">
        <div class="row align-items-center mb-4">
          <div class="col-12 col-sm order-1 order-sm-1">
            <h3 class="h5 mb-0">
              Danh Mục Chứng Khoán Cho Phép Giao Dịch Ký Quỹ Tại ACBS
            </h3>
          </div>

          <div class="col-12 col-sm-auto font-sm order-3 order-sm-2 text-end">
            <a href="" class="btn btn-sm btn-primary fw-bold"> Tải cập nhập </a>
          </div>

          <div class="col-12 order-2 order-sm-3">
            Cập nhập ngày :
            <div class="font-sm text-gray-600 datepicker-soju">
              <input
                class="datepicker-soju-input datepicker"
                data-date-format="dd/mm/yyyy"
              />

              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="cbttf-form-scroll">
          <div class="cbttf-form">
            <div class="cbttf-item">
              <div class="fw-bold cbttf-head">Giá trị có thể vay :</div>
              <div>
                <input
                  type="text"
                  class="form-control acbs-input text-center"
                  style="max-width: 150px"
                  placeholder="Số lượng CK"
                />
              </div>
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="svg-icon"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </div>

              <div>
                <input
                  type="text"
                  class="form-control acbs-input text-center"
                  style="max-width: 100px"
                  placeholder="Giá"
                />
              </div>

              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="svg-icon"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </div>
              <div>
                <input
                  type="text"
                  class="form-control acbs-input text-center"
                  style="max-width: 150px"
                  placeholder="Tỉ lệ cho vay"
                />
              </div>
              <div>=</div>
              <div class="fw-bold text-primary">000000 VND</div>
            </div>

            <div class="cbttf-item mt-4">
              <div class="fw-bold cbttf-head">Tỷ lệ nợ :</div>
              <div>
                <input
                  type="text"
                  class="form-control acbs-input text-center"
                  style="max-width: 150px"
                  placeholder="Tổng nợ"
                />
              </div>
              <div>/</div>

              <div>
                <input
                  type="text"
                  class="form-control acbs-input text-center"
                  style="max-width: 180px"
                  placeholder="Tổng giá trị có thể vay"
                />
              </div>
              <div>=</div>
              <div class="fw-bold text-primary">000%</div>
            </div>
            <div class="mt-4">
              <p class="fw-bold">Quy định về tỷ lệ vi phạm giao dịch ký quỹ</p>

              <ul class="ps-3">
                <li>
                  Tý lệ ký quỹ bổ sung: Tln >=
                  <strong class="text-primary">140%</strong>
                </li>
                <li>
                  Tỷ lệ xử lý: Tln >= <strong class="text-primary">150%</strong>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 col-xl-3 order-1 order-lg-2">
        <div class="mb-4">
          <div class="side-nav-action">
            <h3 class="h5 flex-grow-1 mb-0">Phân loại báo cáo</h3>
            <a
              class="btn btn-lg py-0 px-0 stretched-link"
              data-bs-toggle="collapse"
              href="#collapseSideNav"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class=" svg-icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
                />
              </svg>
            </a>
          </div>

          <div class="collapse side-nav" id="collapseSideNav">
            <ul class="nav flex-column nav-sidebar">
  <li class="nav-item">
    <a class="nav-link active text-uppercase" aria-current="page" href="#"
      >Báo cáo tài chính</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link text-uppercase" href="#">Báo cáo thường niên</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-uppercase" href="#">Tỷ lệ an toàn tài chính</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-uppercase" href="#">Phát hành trái phiếu</a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-uppercase" href="#">Phát hành chứng quyền</a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-uppercase" href="#">Quản trị công ty</a>
  </li>

  <li class="nav-item have-child">
    <a
      class="nav-link text-uppercase"
      data-bs-toggle="collapse"
      href="#collapseEx"
      role="button"
      aria-expanded="false"
      aria-controls="collapseEx"
      href="#"
      >Danh mục ký quỹ
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class=" svg-icon icon"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          clip-rule="evenodd"
        />
      </svg>
    </a>

    <div class="collapse" id="collapseEx">
      <ul class="list-unstyled font-sm ms-4 mb-2">
        <li>
          <a href="" class="link-secondary d-block py-1"
            >Cập nhật ngày 07/10/2021
          </a>
        </li>

        <li>
          <a href="" class="link-secondary d-block py-1">
            Báo cáo chứng khoán ký quỹ tháng 09/2021
          </a>
        </li>

        <li>
          <a href="" class="link-secondary d-block py-1">
            Báo cáo chứng khoán ký quỹ theo quý</a
          >
        </li>
      </ul>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link text-uppercase" href="#">Thông tin khác</a>
  </li>
</ul>

          </div>
        </div>
      </div>
    </div>
    <!-- Nav pills -->
  </div>
</section>



    <!-- Footer -->
     <a href="tel:1900 5555 33" class="acbs-direct-message" style="">
  <img src="img/hotline-ico.svg" />
  <span>Hotline: </span>
  <p>1900 5555 33</p>
</a>

<section class="acbs-transaction">
  <div class="acbs-transaction__detail">
    <div class="acbs-transaction__detail__title">
      <h1 class="acbs-display-4">Kết nối với ACBS ở mọi lúc mọi nơi</h1>
      <p class="text-primary-2">
        Tải ngay app ACBS để cập nhật thông tin mới nhất
      </p>
    </div>
    <div class="store-download">
      <a href="">
        <img src="img/appstore-download.png " alt=" " />
      </a>
      <a href="">
        <img src="img/google-play-download.png " alt=" " />
      </a>
    </div>
    <!-- <button class="my-button my-button__primary ">Bảng điện tử</button>
      <button class="my-button my-button__primary ">Trade Login Portal</button> -->
  </div>
</section>

<footer class="acbs-footer">
  <div class="container px-4 px-md-3">
    <div class="footer-wrap row">
      <ul class="phone list-unstyled footer-item col-12 col-md-auto">
        <li class="mb-2">
          <a href="tel:1900 5555 33" class="fw-bold link-primary-2"
            >1900 5555 33</a
          >
          <span class="footer-highlight">24/7</span>
        </li>
        <li>
          <a href="tel:(028) 38234159" class="fw-bold link-primary-2"
            >(028) 38234159</a
          >
        </li>
      </ul>
      <ul class="list-unstyled font-sm footer-item col-12 col-md-auto">
        <li>
          <a href=" ">Câu hỏi thường gặp</a>
        </li>
        <li>
          <a href=" ">Điều khoản sử dụng</a>
        </li>
        <li>
          <a href=" ">Bảo mật thông tin khách hàng</a>
        </li>
      </ul>
      <ul class="list-unstyled font-sm footer-item col-12 col-md-auto">
        <li>
          <a href=" ">Giới thiệu</a>
        </li>
        <li>
          <a href=" ">Công bố thông tin</a>
        </li>
        <li>
          <a href=" ">Tuyển dụng</a>
        </li>
        <li>
          <a href=" ">Tin tức &amp; sự kiện</a>
        </li>
        <li>
          <a href=" ">Liên hệ</a>
        </li>
      </ul>
      <ul class="list-unstyled font-sm footer-item col-12 col-md-auto">
        <li>Địa chỉ: 41 Mạc Đĩnh Chi, phường Đa Kao, quận 1, TP. HCM</li>
        <li>
          H: <a href="">1900 5555 33 </a> – E: <a href="">acbs@acbs.com.vn</a>
        </li>
        <li>
          T: <a href="">(028) 38234159 </a> – F: <a href="">(08) 38235060</a>
        </li>
        <li>
          Tên cơ quan chủ quản: Ngân hàng TMCP Á Châu Giấy phép số 46/GP-TTĐT
          ngày cấp 08/05/2015 Sở Thông tin và Truyền thông Tp.HCM
        </li>
      </ul>
      <div class="social font-sm footer-item col-12 col-md">
        <div
          class="d-flex flex-nowrap align-items-center justify-content-md-end"
        >
          <p class="mb-0 me-2">Mạng xã hội</p>
          <a href=" " class="px-1">
            <img src="img/facebook.svg " />
          </a>
          <a href=" ">
            <img src="img/youtube.svg " />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright text-blue">
    <div class="container px-4 px-md-3">
      <p class="mb-0">© 2021 Công Ty Chứng Khoán ACB | ACBS.com.vn</p>
    </div>
  </div>
</footer>
 

    <script src="js/jquery.min.js"></script>
    <!-- <script defer src="js/bootstrap.js" crossorigin="anonymous"></script> -->
    <!-- <script defer src="js/parcel.js"></script> -->

    <!-- <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script> -->

    <script defer src="js/popper.min.js"></script>
    <script defer src="js/bootstrap.min.js"></script>


    <script defer src="js/simple-scrollbar.min.js"></script>
    <script defer src="js/swiper-bundle.min.js"></script>

    <script defer src="js/bootstrap-select.min.js"></script>
    <script defer src="js/bootstrap-datepicker.min.js"></script>
    <script defer src="js/bootstrap-datepicker.vi.min.js"></script>

    <!-- <script defer src="js/counterup.js"></script> -->
    <script src="https://unpkg.com/counterup2@2.0.2/dist/index.js">	</script>
    <script defer src="js/main.js"></script>

     
  </body>
</html>
