

<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ACBS - Đón đầu cơ hội đầu tư mới</title>
    <meta name="description" content="ACBS - Đón đầu cơ hội đầu tư mới" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
     <header class="border-bottom main-nav-wrap">
  <div class="container">
    <div
      class="
        d-flex
        flex-wrap
        justify-content-between justify-content-lg-start
        main-nav
      "
    >
      <div class="main-logo-bg">
        <a
          href="/"
          class="
            d-flex
            align-items-center
            text-dark text-decoration-none
            main-logo
          "
        >
          <img
            src="img/logo-1.png"
            alt=""
            class="img-fluid"
          />
        </a>
      </div>

      <ul
        class="
          nav
          ps-4
          col-12 col-lg-auto
          me-lg-auto
          mb-2
          justify-content-center
          mb-md-0
          d-none d-lg-flex
        "
      >
        <li class="nav-item d-flex has-dropdown">
          <a
            href=""
            class="
              nav-link
              px-2
              link-dark-blue
              d-flex
              align-items-center
              text-uppercase
            "
          >
            ACBS

            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon size-16 ms-1"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </a>

          <div class="main-nav-mega-wrap">
            <div class="main-nav-mega container">
              <div class="row">
                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Giới thiệu</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Tổng quan</a>
                      </li>
                      <li>
                        <a href="">Ban điều hành</a>
                      </li>
                      <li>
                        <a href="">Giá trị thương hiệu</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Công bố thông tin</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Bản tin công bố</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Tin tức &amp; Sự kiện</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Tin hot</a>
                      </li>
                      <li>
                        <a href="">Sự kiện</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Tuyển dụng</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Danh sách tuyển dụng</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item d-flex has-dropdown">
          <a
            href=""
            class="
              nav-link
              d-flex
              align-items-center
              px-2
              link-dark-blue
              text-uppercase
            "
            >Sản phẩm & Dịch vụ
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon size-16 ms-1"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </a>

          <div class="main-nav-mega-wrap">
            <div class="main-nav-mega container">
              <div class="row">
                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Môi giới</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Tổng quan</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Tài trợ giao dịch</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Xem chi tiết</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Phân phối ETF</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Bản tin phân phối</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Phân phối chứng chỉ quỹ mở</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Xem chi tiết</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Sản phẩm hỗ trợ liên kết</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Xem chi tiết</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Hỗ trợ và tiện ích</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Mẫu biểu</a>
                      </li>
                      <li>
                        <a href="">Danh mục mua chứng khoán lỗ lẻ</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item d-flex has-dropdown">
          <a
            href=""
            class="
              nav-link
              d-flex
              align-items-center
              px-2
              link-dark-blue
              text-uppercase
            "
            >Trung tâm phân tích
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon size-16 ms-1"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </a>

          <div class="main-nav-mega-wrap">
            <div class="main-nav-mega container">
              <div class="row">
                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Phân tích cổ phiếu</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Xem chi tiết</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Bản tin chứng quyền</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Xem chi tiết</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
     

      <div
        class="
          col-12 col-lg-auto
          mb-3 mb-lg-0
          align-self-center
          d-none d-lg-block
        "
      >
        <button type="button" class="btn btn-sm btn-primary-2 mx-1">
          Đăng nhập
        </button>
        <button type="button" class="btn btn-sm btn-primary mx-1">
          Đăng ký
        </button>
      </div>
      <div class="dropdown text-end ms-4 align-self-center d-none d-lg-block">
        <a
          href="#"
          class="
            d-flex
            align-items-center
            link-dark-blue
            text-decoration-none
            py-2
            px-1
          "
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="img/flag/flag-vn.svg"
            alt="Viet nam"
            class=""
            width="22"
            height="22"
          />
          <div class="ms-2 me-1">VN</div>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon size-16"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </a>

        <ul
          class="dropdown-menu text-small acb-dropdown dropdown-menu-end"
          aria-labelledby="dropdownUser1"
          style=""
        >
          <li class="">
            <a
              class="dropdown-item d-flex align-items-center current py-1"
              href="#"
            >
              <img
                src="img/flag/flag-vn.svg"
                alt="Viet nam"
                class=""
                width="22"
                height="22"
              />
              <div class="ms-2 me-1 font-sm">Tiếng Việt</div>
            </a>
          </li>
          <li class="">
            <a class="dropdown-item d-flex align-items-center py-1" href="#">
              <img
                src="img/flag/flag-gb.svg"
                alt="Viet nam"
                class=""
                width="22"
                height="22"
              />
              <div class="ms-2 me-1 font-sm">Tiếng Anh</div>
            </a>
          </li>
        </ul>
      </div>

      <div class="align-self-center d-block d-lg-none">
        <button
          class="hamburger hamburger--squeeze main-menu-hamburger mt-2"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
  </div>
</header>

<div
  class="offcanvas offcanvas-end main-menu-offcanvas"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    
  </div>

  <div class="offcanvas-body p-0">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            ACBS
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div class="row">
              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Giới thiệu</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Tổng quan</a>
                    </li>
                    <li>
                      <a href="">Ban điều hành</a>
                    </li>
                    <li>
                      <a href="">Giá trị thương hiệu</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Công bố thông tin</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Bản tin công bố</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Tin tức &amp; Sự kiện</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Tin hot</a>
                    </li>
                    <li>
                      <a href="">Sự kiện</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Tuyển dụng</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Danh sách tuyển dụng</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            Sản phẩm & Dịch vụ
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div class="row">
              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Môi giới</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Tổng quan</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Tài trợ giao dịch</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Xem chi tiết</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Phân phối ETF</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Bản tin phân phối</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Phân phối chứng chỉ quỹ mở</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Xem chi tiết</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Sản phẩm hỗ trợ liên kết</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Xem chi tiết</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Hỗ trợ và tiện ích</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Mẫu biểu</a>
                    </li>
                    <li>
                      <a href="">Danh mục mua chứng khoán lỗ lẻ</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            Trung tâm phân tích
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div class="row">
              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Phân tích cổ phiếu</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Xem chi tiết</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Bản tin chứng quyền</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Xem chi tiết</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 

    <!-- Main Body Content -->
    

<div class="acbs-breadcrumb">
  <nav aria-label="breadcrumb" class="container px-4 px-md-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html" class="link-dark-blue">Trang chủ</a>
      </li>

      <li class="breadcrumb-item active" aria-current="page">
        Lịch sử phát triển
      </li>
    </ol>
  </nav>
</div>

<section class="bdh-section section-normal less-space">
  <div class="container px-4 px-md-3">
    <h1 class="text-center">Lịch sử phát triển</h1>
  </div>
    <div class="ls-list">
      <div class="ls-line-dash">
        <img
          src="img/ls/line-dash.svg"
          class="img-fluid d-block mx-auto"
          alt=""
        />
      </div>

      <div class="ls-item is-current" style="background-image: none">
        <div class="ls-col container px-4 px-md-3">
          <div class="ls-content">
            <h2 class="text-primary fw-bold reveal" data-reveal-delay="200">
              2021
            </h2>
            <p class="reveal" data-reveal-delay="500">
              Thay đổi vốn điều lệ lần sáu (6) lên thành 3.000 tỷ đồng (Ba ngàn
              tỷ đồng).
            </p>
          </div>
          <div class="ls-space">
            <div class="dot"></div>
          </div>
          <div class="ls-img"></div>
        </div>
      </div>

      <div class="ls-item" style="background-image: url(img/ls/ls-bg-item.jpg)">
        <div class="ls-col container px-4 px-md-3">
          <div class="ls-content">
            <h2 class="text-primary fw-bold reveal" data-reveal-delay="200">
              2020
            </h2>
            <p class="reveal" data-reveal-delay="500">
              Công ty lần đầu tiên phát hành chứng quyền và đạt thành công rực
              rỡ với lượng đăng ký đặt mua đạt hơn 50% trong đợt IPO đầu tiên.
            </p>
          </div>
          <div class="ls-space">
            <div class="dot"></div>
          </div>
          <div class="ls-img">
            <img src="img/ls/ls-img-2.png" class="img-fluid" loading="lazy" />
          </div>
        </div>
      </div>

      <div
        class="ls-item"
        style="background-image: url(img/ls/ls-bg-item-2.jpg)"
      >
        <div class="ls-col container px-4 px-md-3">
          <div class="ls-content">
            <h2 class="text-primary fw-bold reveal" data-reveal-delay="200">
              2019
            </h2>
            <ul class="ps-3 reveal" data-reveal-delay="500">
              <li>Ngày 20/5 ABCS ký thỏa thuận hợp tác với EFG Hermes.</li>
              <li>
                Dời chi nhánh Chợ Lớn về 321-323 Trần Phú, Phường 8, Quận 5.
              </li>
              <li>Quý IV thành lập chi nhánh Trương Định 4.</li>
              <li>CBTT thành lập chi nhánh Cách Mạng Tháng Tám.</li>
            </ul>
          </div>
          <div class="ls-space">
            <div class="dot"></div>
          </div>
          <div class="ls-img">
            <img src="img/ls/ls-img-1.png" class="img-fluid" loading="lazy" />
          </div>
        </div>
      </div>

      <div class="ls-item">
        <div class="ls-col container px-4 px-md-3">
          <div class="ls-content">
            <h2 class="text-primary fw-bold reveal" data-reveal-delay="200">
              2018
            </h2>
            <ul class="ps-3 reveal" data-reveal-delay="500">
              <li>
                Tiếp tục tổ chức cuộc thi ACBS Trade Pro dành cho sinh viên yêu
                thích chứng khoán thuộc ngành kinh tế - tài chính, chứng khoán
                hoặc ngân hàng trên địa bàn TP.HCM.
              </li>
              <li>
                Kỷ niệm 18 năm thành lập Công ty TNHH Chứng Khoán ACB. Quý III
                2018 thành lập chi nhánh Trương Định 2 và Trương Định 3. Được
                vinh danh Top 10 công ty chứng khoán thành viên tiêu biểu của
                HNX và HSX.
              </li>
              <li>
                Là công ty chứng khoán thứ 11 trên thị trường giao dịch trên thị
                trường CKPS.
              </li>
            </ul>
          </div>
          <div class="ls-space">
            <div class="dot"></div>
          </div>
          <div class="ls-img">
            <img src="img/ls/ls-img-2.png" class="img-fluid" loading="lazy" />
          </div>
        </div>
      </div>

      <div class="ls-item">
        <div class="ls-col container px-4 px-md-3">
          <div class="ls-content">
            <h2 class="text-primary fw-bold reveal" data-reveal-delay="200">
              2017
            </h2>
            <ul class="ps-3 reveal" data-reveal-delay="500">
              <li>Thành lập chi nhánh Đồng Nai.</li>
              <li>
                Ra mắt ứng dụng ACBS trade giúp giao dịch chứng khoán trực tuyến
                trên iOS và Android.
              </li>
              <li>Quý III/ 2017 Thanh lập chi nhánh Mạc Đĩnh Chi 4.</li>
              <li>
                Tổ chức Cuộc thi “TRADE PRO 2017” dành cho sinh viên yêu thích
                chứng khoán thuộc ngành kinh tế - tài chính, chứng khoán hoặc
                ngân hàng trên địa bàn TP.HCM.
              </li>
              <li>
                ACBS được vinh danh trong top 10 các Công ty Chứng khoán thành
                viên tiêu biểu.
              </li>
              <li>Ra mắt chương trình Top Trader – Nhà đầu tư tài năng.</li>
            </ul>
          </div>
          <div class="ls-space">
            <div class="dot"></div>
          </div>

          <div class="ls-img">
            <img src="img/ls/ls-img-1.png" class="img-fluid" loading="lazy" />
          </div>
        </div>
      </div>

      <div class="ls-item">
        <div class="ls-col container px-4 px-md-3">
          <div class="ls-content">
            <h2 class="text-primary fw-bold reveal" data-reveal-delay="200">
              2016
            </h2>
            <ul class="ps-3 reveal" data-reveal-delay="500">
              <li>
                06/01/2016, ra mắt và chính thức đưa vào sử dụng hệ thống nhận
                diện thương hiệu mới trên nền tảng những giá trị cốt lõi “Đáng
                tin cậy – Thân thiện – Nhạy bén”.
              </li>
              <li>22/04/2016, khai trương phòng giao dịch Bàu Cát.</li>
              <li>
                Nâng cao thành công hệ thống giao dịch mới hiện đại, nhanh gọn,
                an toàn, bảo mật hơn.
              </li>
              <li>
                Là 1 trong 4 Công ty Chứng khoán được UBND Thành phố Hồ Chí Minh
                vinh danh và trao tặng bằng khen do có hoạt động xuất sắc nhiều
                năm liền.
              </li>
            </ul>
          </div>

          <div class="ls-space">
            <div class="dot"></div>
          </div>

          <div class="ls-img">
            <img src="img/ls/ls-img-1.png" class="img-fluid" loading="lazy" />
          </div>
        </div>
      </div>

      <div class="ls-item">
        <div class="ls-col container px-4 px-md-3">
          <div class="ls-content">
            <h2 class="text-primary fw-bold reveal" data-reveal-delay="200">
              2015
            </h2>
            <ul class="ps-3 reveal" data-reveal-delay="500">
              <li>
                Chính thức vận hành hệ thống giao dịch mới hiện đại, an toàn,
                bảo mật hơn.
              </li>
              <li>22/04/2016, khai trương phòng giao dịch Bàu Cát.</li>
              <li>
                Ra mắt phần mềm giao dịch ACBS Trading cho máy tính bàn, máy
                tính xách tay và các thiết bị di động sử dụng hệ điều hành
                Android.
              </li>
              <li>
                Được vinh danh trong top 10 các Công ty Chứng khoán tiêu biểu
                của Thị trường Chứng khoán Việt Nam.
              </li>
            </ul>
          </div>

          <div class="ls-space">
            <div class="dot"></div>
          </div>

          <div class="ls-img">
            <img src="img/ls/ls-img-1.png" class="img-fluid" loading="lazy" />
          </div>
        </div>
      </div>

      <div class="ls-item">
        <div class="ls-col container px-4 px-md-3">
          <div class="ls-content">
            <h2 class="text-primary fw-bold reveal" data-reveal-delay="200">
              2014
            </h2>
            <ul class="ps-3 reveal" data-reveal-delay="500">
              <li>
                13/06/2014, ACBS chuyển đổi trụ sở chính đến 41 Mạc Đĩnh Chi,
                phường ĐaKao, quận 1.
              </li>
              <li>
                Thay đổi giá trị cốt lõi: Chính trực, Hiệu quả, Hài hòa, Cẩn
                trọng, Cách tân.
              </li>
            </ul>
          </div>

          <div class="ls-space">
            <div class="dot"></div>
          </div>

          <div class="ls-img">
            <img src="img/ls/ls-img-1.png" class="img-fluid" loading="lazy" />
          </div>
        </div>
      </div>

      <div class="ls-item">
        <div class="ls-col container px-4 px-md-3">
          <div class="ls-content">
            <h2 class="text-primary fw-bold reveal" data-reveal-delay="200">
              2013
            </h2>
            <ul class="ps-3 reveal" data-reveal-delay="500">
              <li>
                Đưa vào sử dụng phần mềm giao dịch ACBS Trading cho thiết bị di
                động dùng hệ điều hành iOS.
              </li>
            </ul>
          </div>

          <div class="ls-space">
            <div class="dot"></div>
          </div>

          <div class="ls-img">
            <img src="img/ls/ls-img-1.png" class="img-fluid" loading="lazy" />
          </div>
        </div>
      </div>

      <div class="ls-item">
        <div class="ls-col container px-4 px-md-3">
          <div class="ls-content">
            <h2 class="text-primary fw-bold reveal" data-reveal-delay="200">
              2012
            </h2>
            <ul class="ps-3 reveal" data-reveal-delay="500">
              <li>
                ACBS đã chính thức triển khai giải pháp kết nối điện SWIFT với
                các ngân hàng lưu ký nước ngoài.
              </li>

              <li>
                Đứng hạng 3 về thị phần môi giới trên cả hai sàn HOSE và HNX
              </li>
            </ul>
          </div>

          <div class="ls-space">
            <div class="dot"></div>
          </div>

          <div class="ls-img">
            <img src="img/ls/ls-img-1.png" class="img-fluid" loading="lazy" />
          </div>
        </div>
      </div>

      <div class="ls-item">
        <div class="ls-col container px-4 px-md-3">
          <div class="ls-content">
            <h2 class="text-primary fw-bold reveal" data-reveal-delay="200">
              2011
            </h2>
            ACBS vinh hạnh được Tạp chí Asiamoney trao tặng nhiều danh hiệu xuất
            sắc như:
            <ul class="ps-3 reveal" data-reveal-delay="500">
              <li>Chất lượng dịch vụ khách hàng tốt nhất;</li>
              <li>Thực hiện giao dịch tốt nhất;</li>
              <li>Tổ chức sự kiện và hội thảo tốt nhất;</li>
              <li>
                Tổ chức giới thiệu cơ hội đầu tư và gặp gỡ doanh nghiệp tốt
                nhất;
              </li>
              <li>Chuyên viên môi giới xuất sắc nhất;</li>
            </ul>
          </div>

          <div class="ls-space">
            <div class="dot"></div>
          </div>

          <div class="ls-img">
            <img src="img/ls/ls-img-1.png" class="img-fluid" loading="lazy" />
          </div>
        </div>
      </div>

      <div class="ls-item">
        <div class="ls-col container px-4 px-md-3">
          <div class="ls-content">
            <h2 class="text-primary fw-bold reveal" data-reveal-delay="200">
              2010
            </h2>

            <ul class="ps-3 reveal" data-reveal-delay="500">
              <li>Kỷ niệm 10 năm thành lập ACBS.</li>
              <li>
                Đưa vào sử dụng dịch vụ giao dịch qua Tổng đài điện thoại 1900
                5555533.
              </li>
              <li>
                Chuyển đổi phương thức bảo mật từ Chứng chỉ số USB Token cho các
                giao dịch qua Internet.
              </li>
            </ul>
          </div>

          <div class="ls-space">
            <div class="dot"></div>
          </div>

          <div class="ls-img">
            <img src="img/ls/ls-img-1.png" class="img-fluid" loading="lazy" />
          </div>
        </div>
      </div>

      <div class="ls-item">
        <div class="ls-col container px-4 px-md-3">
          <div class="ls-content">
            <h2 class="text-primary fw-bold reveal" data-reveal-delay="200">
              2009
            </h2>

            <ul class="ps-3 reveal" data-reveal-delay="500">
              <li>
                Ngày 04/11/2009, ACBS tăng vốn điều lệ lần thứ năm (5), 1.500 tỷ
                đồng. (Một ngàn năm trăm tỷ đồng).
              </li>
              <li>
                Định vị thương hiệu với giá trị cốt lõi: An toàn, Chính xác, Bảo
                mật, Sáng tạo.
              </li>
            </ul>
          </div>

          <div class="ls-space">
            <div class="dot"></div>
          </div>

          <div class="ls-img">
            <img src="img/ls/ls-img-1.png" class="img-fluid" loading="lazy" />
          </div>
        </div>
      </div>

      <div class="ls-item">
        <div class="ls-col container px-4 px-md-3">
          <div class="ls-content">
            <h2 class="text-primary fw-bold reveal" data-reveal-delay="200">
              2008
            </h2>

            <ul class="ps-3 reveal" data-reveal-delay="500">
              <li>
                Ngày 04/09/2008, ACBS tăng vốn lần thứ tư (4), vốn điều lệ lúc
                này là 1.000 tỷ đồng (Một ngàn tỷ đồng).
              </li>
              <li>
                Trụ sở chính chuyển đến 107N Trương Định, phường 6, quận 3. Đồng
                thời, nghiệp vụ Quản lý Danh mục đầu tư được hủy bỏ theo quy
                định của Ủy ban Chứng khoán Nhà nước.
              </li>
            </ul>
          </div>
          <div class="ls-img">
            <img src="img/ls/ls-img-1.png" class="img-fluid" loading="lazy" />
          </div>
        </div>
      </div>

      <div class="ls-item">
        <div class="ls-col container px-4 px-md-3">
          <div class="ls-content">
            <h2 class="text-primary fw-bold reveal" data-reveal-delay="200">
              2007
            </h2>

            <ul class="ps-3 reveal" data-reveal-delay="500">
              <li>
                Tháng 09/2007, thay đổi vốn điều lệ lần ba (3), tăng thành 500
                tỷ đồng (Năm trăm tỷ đồng).
              </li>
              <li>
                Ra mắt và chính thức đưa vào sử dụng hệ thống giao dịch trực
                tuyến, cho phép giao dịch qua Internet với phương thức bảo mật
                bằng bằng Chứng chỉ số.
              </li>
            </ul>
          </div>

          <div class="ls-space">
            <div class="dot"></div>
          </div>

          <div class="ls-img">
            <img src="img/ls/ls-img-1.png" class="img-fluid" loading="lazy" />
          </div>
        </div>
      </div>

      <div class="ls-item">
        <div class="ls-col container px-4 px-md-3">
          <div class="ls-content">
            <h2 class="text-primary fw-bold reveal" data-reveal-delay="200">
              2006
            </h2>

            <ul class="ps-3 reveal" data-reveal-delay="500">
              <li>
                Tháng 05/2006, vốn điều lệ tăng lần hai (2) là 250 tỷ đồng (Hai
                trăm năm mươi tỷ đồng).
              </li>
              <li>Chuyển trụ sở chính đến 9 Lê Ngô Cát, P.7, Q.3</li>
            </ul>
          </div>

          <div class="ls-space">
            <div class="dot"></div>
          </div>

          <div class="ls-img">
            <img src="img/ls/ls-img-1.png" class="img-fluid" loading="lazy" />
          </div>
        </div>
      </div>

      <div class="ls-item">
        <div class="ls-col container px-4 px-md-3">
          <div class="ls-content">
            <h2 class="text-primary fw-bold reveal" data-reveal-delay="200">
              2005
            </h2>

            <p>
              ACBS thay đổi vốn điều lệ lần thứ nhất (1), tăng lên 100 tỷ đồng
              (Một trăm tỷ đồng).
            </p>
          </div>

          <div class="ls-space">
            <div class="dot"></div>
          </div>

          <div class="ls-img">
            <img src="img/ls/ls-img-1.png" class="img-fluid" loading="lazy" />
          </div>
        </div>
      </div>

      <div class="ls-item">
        <div class="ls-col container px-4 px-md-3">
          <div class="ls-content">
            <h2 class="text-primary fw-bold reveal" data-reveal-delay="200">
              2000
            </h2>

            <ul class="ps-3 reveal" data-reveal-delay="500">
              <li>
                Ủy ban Chứng Khoán Nhà nước cấp phép hoạt động 06.UBCK – GPHĐKD
                cho Công ty TNHH Chứng khoán ACB thành lập với 100% vốn chủ sở
                hữu của Ngân hàng TMCP Á Châu.
              </li>
              <li>Vốn điều lệ ban đầu là 43 tỷ đồng (Bốn mươi ba tỷ đồng).</li>
              <li>
                Trụ sở chính đặt tại 442 Nguyễn Thị Minh Khai, phường 5, quận 3.
                ACBS đi vào hoạt động cùng lúc với thị trường chứng khoán Việt
                Nam và Trung tâm Giao dịch chứng khoán TP.HCM.
              </li>
              <li>
                Từ ngày đầu hoạt động, ACBS đã được Ủy ban Chứng khoán Nhà nước
                cho phép thực hiện tất cả các nghiệp vụ kinh doanh chứng khoán
                theo luật định:
                <ul class="ps-3 reveal" data-reveal-delay="500">
                  <li>Môi giới chứng khoán;</li>
                  <li>Lưu ký chứng khoán;</li>
                  <li>Tự doanh chứng khoán;</li>
                  <li>Bảo lãnh phát hành chứng khoán;</li>
                  <li>Quản lý danh mục đầu tư;</li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="ls-space">
            <div class="dot"></div>
          </div>

          <div class="ls-img">
            <img src="img/ls/ls-img-1.png" class="img-fluid" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
</section>



    <!-- Footer -->
     <a href="tel:1900 5555 33" class="acbs-direct-message" style="">
  <img src="img/hotline-ico.svg" />
  <span>Hotline: </span>
  <p>1900 5555 33</p>
</a>

<section class="acbs-transaction">
  <div class="acbs-transaction__detail">
    <div class="acbs-transaction__detail__title">
      <h1 class="acbs-display-4">Kết nối với ACBS ở mọi lúc mọi nơi</h1>
      <p class="text-primary-2">
        Tải ngay app ACBS để cập nhật thông tin mới nhất
      </p>
    </div>
    <div class="store-download">
      <a href="">
        <img src="img/appstore-download.png " alt=" " />
      </a>
      <a href="">
        <img src="img/google-play-download.png " alt=" " />
      </a>
    </div>
    <!-- <button class="my-button my-button__primary ">Bảng điện tử</button>
      <button class="my-button my-button__primary ">Trade Login Portal</button> -->
  </div>
</section>

<footer class="acbs-footer">
  <div class="container px-4 px-md-3">
    <div class="footer-wrap row">
      <ul class="phone list-unstyled footer-item col-12 col-md-auto">
        <li class="mb-2">
          <a href="tel:1900 5555 33" class="fw-bold link-primary-2"
            >1900 5555 33</a
          >
          <span class="footer-highlight">24/7</span>
        </li>
        <li>
          <a href="tel:(028) 38234159" class="fw-bold link-primary-2"
            >(028) 38234159</a
          >
        </li>
      </ul>
      <ul class="list-unstyled font-sm footer-item col-12 col-md-auto">
        <li>
          <a href=" ">Câu hỏi thường gặp</a>
        </li>
        <li>
          <a href=" ">Điều khoản sử dụng</a>
        </li>
        <li>
          <a href=" ">Bảo mật thông tin khách hàng</a>
        </li>
      </ul>
      <ul class="list-unstyled font-sm footer-item col-12 col-md-auto">
        <li>
          <a href=" ">Giới thiệu</a>
        </li>
        <li>
          <a href=" ">Công bố thông tin</a>
        </li>
        <li>
          <a href=" ">Tuyển dụng</a>
        </li>
        <li>
          <a href=" ">Tin tức &amp; sự kiện</a>
        </li>
        <li>
          <a href=" ">Liên hệ</a>
        </li>
      </ul>
      <ul class="list-unstyled font-sm footer-item col-12 col-md-auto">
        <li>Địa chỉ: 41 Mạc Đĩnh Chi, phường Đa Kao, quận 1, TP. HCM</li>
        <li>
          H: <a href="">1900 5555 33 </a> – E: <a href="">acbs@acbs.com.vn</a>
        </li>
        <li>
          T: <a href="">(028) 38234159 </a> – F: <a href="">(08) 38235060</a>
        </li>
        <li>
          Tên cơ quan chủ quản: Ngân hàng TMCP Á Châu Giấy phép số 46/GP-TTĐT
          ngày cấp 08/05/2015 Sở Thông tin và Truyền thông Tp.HCM
        </li>
      </ul>
      <div class="social font-sm footer-item col-12 col-md">
        <div
          class="d-flex flex-nowrap align-items-center justify-content-md-end"
        >
          <p class="mb-0 me-2">Mạng xã hội</p>
          <a href=" " class="px-1">
            <img src="img/facebook.svg " />
          </a>
          <a href=" ">
            <img src="img/youtube.svg " />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright text-blue">
    <div class="container px-4 px-md-3">
      <p class="mb-0">© 2021 Công Ty Chứng Khoán ACB | ACBS.com.vn</p>
    </div>
  </div>
</footer>
 

    <script src="js/jquery.min.js"></script>
    <!-- <script defer src="js/bootstrap.js" crossorigin="anonymous"></script> -->
    <!-- <script defer src="js/parcel.js"></script> -->

    <!-- <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script> -->

    <script defer src="js/popper.min.js"></script>
    <script defer src="js/bootstrap.min.js"></script>


    <script defer src="js/simple-scrollbar.min.js"></script>
    <script defer src="js/swiper-bundle.min.js"></script>

    <script defer src="js/bootstrap-select.min.js"></script>
    <script defer src="js/bootstrap-datepicker.min.js"></script>
    <script defer src="js/bootstrap-datepicker.vi.min.js"></script>

    <!-- <script defer src="js/counterup.js"></script> -->
    <script src="https://unpkg.com/counterup2@2.0.2/dist/index.js">	</script>
    <script defer src="js/main.js"></script>

     
  </body>
</html>
