

<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ACBS - Đón đầu cơ hội đầu tư mới</title>
    <meta name="description" content="ACBS - Đón đầu cơ hội đầu tư mới" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
     <header class="border-bottom main-nav-wrap">
  <div class="container">
    <div
      class="
        d-flex
        flex-wrap
        justify-content-between justify-content-lg-start
        main-nav
      "
    >
      <div class="main-logo-bg">
        <a
          href="/"
          class="
            d-flex
            align-items-center
            text-dark text-decoration-none
            main-logo
          "
        >
          <img
            src="img/logo-1.png"
            alt=""
            class="img-fluid"
          />
        </a>
      </div>

      <ul
        class="
          nav
          ps-4
          col-12 col-lg-auto
          me-lg-auto
          mb-2
          justify-content-center
          mb-md-0
          d-none d-lg-flex
        "
      >
        <li class="nav-item d-flex has-dropdown">
          <a
            href=""
            class="
              nav-link
              px-2
              link-dark-blue
              d-flex
              align-items-center
              text-uppercase
            "
          >
            ACBS

            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon size-16 ms-1"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </a>

          <div class="main-nav-mega-wrap">
            <div class="main-nav-mega container">
              <div class="row">
                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Giới thiệu</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Tổng quan</a>
                      </li>
                      <li>
                        <a href="">Ban điều hành</a>
                      </li>
                      <li>
                        <a href="">Giá trị thương hiệu</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Công bố thông tin</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Bản tin công bố</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Tin tức &amp; Sự kiện</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Tin hot</a>
                      </li>
                      <li>
                        <a href="">Sự kiện</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Tuyển dụng</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Danh sách tuyển dụng</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item d-flex has-dropdown">
          <a
            href=""
            class="
              nav-link
              d-flex
              align-items-center
              px-2
              link-dark-blue
              text-uppercase
            "
            >Sản phẩm & Dịch vụ
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon size-16 ms-1"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </a>

          <div class="main-nav-mega-wrap">
            <div class="main-nav-mega container">
              <div class="row">
                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Môi giới</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Tổng quan</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Tài trợ giao dịch</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Xem chi tiết</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Phân phối ETF</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Bản tin phân phối</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Phân phối chứng chỉ quỹ mở</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Xem chi tiết</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Sản phẩm hỗ trợ liên kết</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Xem chi tiết</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Hỗ trợ và tiện ích</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Mẫu biểu</a>
                      </li>
                      <li>
                        <a href="">Danh mục mua chứng khoán lỗ lẻ</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item d-flex has-dropdown">
          <a
            href=""
            class="
              nav-link
              d-flex
              align-items-center
              px-2
              link-dark-blue
              text-uppercase
            "
            >Trung tâm phân tích
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon size-16 ms-1"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </a>

          <div class="main-nav-mega-wrap">
            <div class="main-nav-mega container">
              <div class="row">
                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Phân tích cổ phiếu</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Xem chi tiết</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-3 megamenu__item">
                  <div class="megamenu__item__content">
                    <h3>Bản tin chứng quyền</h3>
                    <p>
                      Là một trong những công ty chứng khoán hàng đầu trên thị
                      trường Việt Nam.
                    </p>
                    <ul>
                      <li>
                        <a href="">Xem chi tiết</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
     

      <div
        class="
          col-12 col-lg-auto
          mb-3 mb-lg-0
          align-self-center
          d-none d-lg-block
        "
      >
        <button type="button" class="btn btn-sm btn-primary-2 mx-1">
          Đăng nhập
        </button>
        <button type="button" class="btn btn-sm btn-primary mx-1">
          Đăng ký
        </button>
      </div>
      <div class="dropdown text-end ms-4 align-self-center d-none d-lg-block">
        <a
          href="#"
          class="
            d-flex
            align-items-center
            link-dark-blue
            text-decoration-none
            py-2
            px-1
          "
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="img/flag/flag-vn.svg"
            alt="Viet nam"
            class=""
            width="22"
            height="22"
          />
          <div class="ms-2 me-1">VN</div>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon size-16"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </a>

        <ul
          class="dropdown-menu text-small acb-dropdown dropdown-menu-end"
          aria-labelledby="dropdownUser1"
          style=""
        >
          <li class="">
            <a
              class="dropdown-item d-flex align-items-center current py-1"
              href="#"
            >
              <img
                src="img/flag/flag-vn.svg"
                alt="Viet nam"
                class=""
                width="22"
                height="22"
              />
              <div class="ms-2 me-1 font-sm">Tiếng Việt</div>
            </a>
          </li>
          <li class="">
            <a class="dropdown-item d-flex align-items-center py-1" href="#">
              <img
                src="img/flag/flag-gb.svg"
                alt="Viet nam"
                class=""
                width="22"
                height="22"
              />
              <div class="ms-2 me-1 font-sm">Tiếng Anh</div>
            </a>
          </li>
        </ul>
      </div>

      <div class="align-self-center d-block d-lg-none">
        <button
          class="hamburger hamburger--squeeze main-menu-hamburger mt-2"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
  </div>
</header>

<div
  class="offcanvas offcanvas-end main-menu-offcanvas"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    
  </div>

  <div class="offcanvas-body p-0">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            ACBS
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div class="row">
              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Giới thiệu</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Tổng quan</a>
                    </li>
                    <li>
                      <a href="">Ban điều hành</a>
                    </li>
                    <li>
                      <a href="">Giá trị thương hiệu</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Công bố thông tin</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Bản tin công bố</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Tin tức &amp; Sự kiện</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Tin hot</a>
                    </li>
                    <li>
                      <a href="">Sự kiện</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Tuyển dụng</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Danh sách tuyển dụng</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            Sản phẩm & Dịch vụ
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div class="row">
              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Môi giới</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Tổng quan</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Tài trợ giao dịch</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Xem chi tiết</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Phân phối ETF</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Bản tin phân phối</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Phân phối chứng chỉ quỹ mở</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Xem chi tiết</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Sản phẩm hỗ trợ liên kết</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Xem chi tiết</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Hỗ trợ và tiện ích</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Mẫu biểu</a>
                    </li>
                    <li>
                      <a href="">Danh mục mua chứng khoán lỗ lẻ</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            Trung tâm phân tích
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div class="row">
              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Phân tích cổ phiếu</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Xem chi tiết</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 megamenu__item">
                <div class="megamenu__item__content">
                  <h3>Bản tin chứng quyền</h3>
                  <p>
                    Là một trong những công ty chứng khoán hàng đầu trên thị
                    trường Việt Nam.
                  </p>
                  <ul>
                    <li>
                      <a href="">Xem chi tiết</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 

    <!-- Main Body Content -->
    

<section
  class="page-heading is-big"
  style="background-image: url(img/gioithieu/gioithieu-bg-heading.png)"
>
  <div class="container px-4 px-md-3 text-center">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-6 col-xl-5">
        <h1 class="text-primary-2 reveal" data-reveal-delay="200">
          Giới thiệu về ACBS
        </h1>
        <p
          class="h5 fw-normal mb-0 text-white reveal mt-3"
          data-reveal-delay="400"
        >
          Là một trong những công ty chứng khoán hàng đầu trên thị trường Việt
          Nam, ACBS đáp ứng tất cả các điều kiện của Ủy ban Chứng khoán Nhà nước
          để thực hiện các nghiệp vụ kinh doanh của công ty chứng khoán.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="bg-light py-4 py-lg-4">
  <div class="container px-4 px-md-3">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="gt-countup">
          <div class="gt-countup-icon">
            <img
              src="img/gioithieu/gt-icon-1.svg"
              class="img-fluid"
              width="45"
              alt=""
            />
          </div>
          <div class="gt-countup-content">
            <div class="tt h5 fw-normal mb-0">Vốn điều lệ</div>

            <div class="count h4 mb-0 text-primary counter-up">
              1,500,000,000,000 VND
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="gt-countup">
          <div class="gt-countup-icon">
            <img src="img/gioithieu/gt-icon-2.svg" class="img-fluid" alt="" />
          </div>
          <div class="gt-countup-content">
            <div class="tt h5 fw-normal mb-0">Vốn chủ sở hữu</div>

            <div class="count h4 mb-0 text-primary counter-up">
              1,822,792,783,043 VND
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="gt-countup">
          <div class="gt-countup-icon">
            <img src="img/gioithieu/gt-icon-3.svg" class="img-fluid" alt="" />
          </div>
          <div class="gt-countup-content">
            <div class="tt h5 fw-normal mb-0">Tổng tài sản</div>

            <div class="count h4 mb-0 text-primary counter-up">
              2,225,682,061,353 VND
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-normal">
  <div class="container px-4 px-md-3">
    <div class="gt-feature-img">
      <img
        src="img/gioithieu/thongdiep-people.png"
        loading="lazy"
        class="d-block img-fluid mx-auto"
      />
    </div>
  </div>

  <div class="gt-feature-wrap">
    <div class="container px-4 px-md-3">
      <div class="gt-feature-box">
        <div class="gt-feature-quote">“</div>
        <div
          class="display-5 text-center text-primary fw-bold reveal"
          data-reveal-delay="200"
        >
          Thông điệp của ban điều hành
        </div>

        <div class="row no-gutters justify-content-center">
          <div class="col-10 col-lg-4 col-xl-3">
            <hr class="gt-feature-hr mb-4 mb-md-5 bg-primary-2" />
          </div>
          <div class="col-12 col-lg-10 soju__prose">
            <p>
              Tiếp nối đà tăng trưởng năm 2017, năm 2018 được mở ra với nhiều kỳ
              vọng. Tuy nhiên, các tín hiệu lạc quan dần đảo chiều từ giữa năm
              2018 do ảnh hưởng của các biến động mang tính lịch sử như rủi ro
              chiến tranh thương mại hay sự biến động bất thường của giá dầu.
              Căng thẳng thương mại giữa Mỹ và Trung Quốc bùng phát từ cuối
              tháng 3 nhanh chóng lan tỏa, gây thiệt hại không chỉ với hai nền
              kinh tế lớn mà còn ảnh hưởng đến cục diện kinh tế toàn cầu. Từ
              cuộc chiến thuế quan, GDP toàn cầu ước tính đã sụt giảm 400 tỷ
              USD.
            </p>
            <p>
              Nền kinh tế Mỹ, tuy đạt mức tăng trưởng cao trong năm 2018 với
              tiêu dùng tăng trưởng mạnh nhất trong quý 3/2018 kể từ năm 2014,
              cũng đã có những dấu hiệu chậm lại trong những tháng cuối năm do
              tác động của cuộc chiến tranh thương mại. Nếu như mức tăng trưởng
              GDP đạt 4,2% trong quý 2 và là mức tăng trưởng cao nhất từ năm
              2014, thì sự tăng trưởng đã chậm lại khi nước Mỹ ghi nhận GDP tăng
              trưởng 3,4% trong quý 3 và ước tính con số này là 3,0% trong những
              tháng cuối năm.
            </p>
            <p>
              Năm 2018 cũng là một năm với nhiều biến động về chính trị xã hội
              đối với liên minh châu Âu. Nền kinh tế giảm tốc được ghi nhận tại
              Đức khi chi tiêu tiêu dùng thấp và nhập khẩu cao tạo áp lực lớn
              cho cán cân
            </p>

            <p>
              thương mại. Nền kinh tế Ý cũng ghi nhận tình trạng sụt giảm, cùng
              với đó là tỷ lệ thất nghiệp cao và nợ công ngày càng gia tăng gây
              ra mức thâm hụt ngân sách 2,4% GDP. Nợ công tiếp tục tăng cao tại
              Pháp từ 98.5% GDP lên 99.3% GDP và tình trạng bạo loạn vẫn tiếp
              tục diễn ra tại đất nước này.
            </p>

            <p>
              ACBS tiếp tục tập trung vào hai mục tiêu chính: Gia tăng thị phần
              môi giới và tăng trưởng dịch vụ tư vấn tài chính doanh nghiệp. Để
              đạt được mục tiêu trên, Ban Điều hành ACBS đã định hướng chiến
              lược phát triển toàn diện, gồm kế hoạch cải tiến hạ tầng công
              nghệ, cơ cấu lại hệ thống tổ chức nhằm phát huy cao nhất hiệu quả
              hoạt động của hệ thống.
            </p>

            <p>
              Bên cạnh đó, cùng với sự thay đổi hình ảnh thương hiệu mới, ACBS
              gởi đến khách hàng một phương châm xuyên suốt từ Tập đoàn ACB “
              Lấy khách hàng làm trọng tâm”. ACBS cam kết:
            </p>
            <ul>
              <li>Luôn tận tâm phục vụ khách hàng với chất lượng tốt nhất</li>
              <li>
                Luôn nhạy bén với thị trường để đem đến cho khách hàng những sản
                phẩm dịch vụ mới nhất với những tư vấn chính xác nhất
              </li>
              <li>
                Mục tiêu cao nhất của chúng tôi là sự tin cậy và hài lòng của
                khách hàng. Trân trọng.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="section-normal gt-sp-section"
  style="background-image: url(img/gioithieu/thongdiep-sp-bg.png)"
>
  <div class="container px-4 px-md-3">
    <div class="section-normal-title">
      <h2
        class="h1 fw-bold text-primary text-left mb-0 reveal"
        data-reveal-delay="200"
      >
        Sản phẩm & <span class="text-primary-2">dịch vụ chính</span>
      </h2>

      <div class="row mt-3">
        <div class="col-12 col-lg-8">
          Là một trong những công ty chứng khoán hàng đầu trên thị trường Việt
          Nam, ACBS đáp ứng tất cả các điều kiện của Ủy ban Chứng khoán Nhà nước
          để thực hiện các nghiệp vụ kinh doanh của công ty chứng khoán. Chúng
          tôi tự hào mang đến quý khách hàng các sản phẩm dịch vụ chính như sau:
        </div>
      </div>
    </div>

    

    <div class="row gx-3">
      

      <div class="col-12 col-md-6 col-lg-3 d-flex">
        <div class="gt-sp-item w-100">
          <div class="img">
            <img src="img/gioithieu/gt-sp-1.svg" class="img-fluid" />
          </div>
          <div class="tt h5">Môi giới chứng khoán</div>
          <div class="sp text-gray-600">
            Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s.
          </div>
        </div>
      </div>
      

      <div class="col-12 col-md-6 col-lg-3 d-flex">
        <div class="gt-sp-item w-100">
          <div class="img">
            <img src="img/gioithieu/gt-sp-2.svg" class="img-fluid" />
          </div>
          <div class="tt h5">Giao dịch ký quỹ</div>
          <div class="sp text-gray-600">
            Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s.
          </div>
        </div>
      </div>
      

      <div class="col-12 col-md-6 col-lg-3 d-flex">
        <div class="gt-sp-item w-100">
          <div class="img">
            <img src="img/gioithieu/gt-sp-3.svg" class="img-fluid" />
          </div>
          <div class="tt h5">Tư vấn tài chính doanh
    nghiệp</div>
          <div class="sp text-gray-600">
            Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s.
          </div>
        </div>
      </div>
      

      <div class="col-12 col-md-6 col-lg-3 d-flex">
        <div class="gt-sp-item w-100">
          <div class="img">
            <img src="img/gioithieu/gt-sp-4.svg" class="img-fluid" />
          </div>
          <div class="tt h5">Bảo lãnh phát hành chứng khoán</div>
          <div class="sp text-gray-600">
            Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s.
          </div>
        </div>
      </div>
      

      <div class="col-12 col-md-6 col-lg-3 d-flex">
        <div class="gt-sp-item w-100">
          <div class="img">
            <img src="img/gioithieu/gt-sp-5.svg" class="img-fluid" />
          </div>
          <div class="tt h5">Lưu ký chứng khoán</div>
          <div class="sp text-gray-600">
            Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s.
          </div>
        </div>
      </div>
      

      <div class="col-12 col-md-6 col-lg-3 d-flex">
        <div class="gt-sp-item w-100">
          <div class="img">
            <img src="img/gioithieu/gt-sp-6.svg" class="img-fluid" />
          </div>
          <div class="tt h5">Phân tích và tư vấn đầu tư</div>
          <div class="sp text-gray-600">
            Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s.
          </div>
        </div>
      </div>
      

      <div class="col-12 col-md-6 col-lg-3 d-flex">
        <div class="gt-sp-item w-100">
          <div class="img">
            <img src="img/gioithieu/gt-sp-7.svg" class="img-fluid" />
          </div>
          <div class="tt h5">Quản lý
    quỹ</div>
          <div class="sp text-gray-600">
            Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s.
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

<section class="bg-white position-relative section-normal gt-th-section cs1">
  <div class="container px-4 px-md-3">
    <h2
      class="h1 fw-bold text-primary text-left mb-0 reveal"
      data-reveal-delay="200"
    >
      Giá trị thương hiệu
    </h2>

    <hr class="gt-heading-hr mb-2 mt-3 bg-primary-2" />

    <div class="row mt-3">
      <div class="col-12 col-lg-6">
        <p class="mb-4">
          Mỗi tồ chức, mỗi cá nhân hay thương hiệu đều được cấu thành từ các đặc
          tính, giá trị và cá tính riêng biệt. Những yếu tố này sẽ tạo nên nền
          tảng và là giá trị cốt lõi của thương hiệu. Giá trị cốt lõi của ACBS
          được xây dựng trên nền tảng những giá trị cốt lõi sau:
        </p>

        <div class="gt-th-item mb-3">
          <div class="img">
            <img
              src="img/gioithieu/icons_circle-check.svg"
              class="img-fluid"
              loading="lazy"
            />
          </div>
          <div class="tt h5 mb-0">Tận tâm</div>
          <div class="sp soju__prose">
            <ul class="m-0 p-0">
              <li>
                Tập trung vào việc thấu hiểu nhằm đem lại sự hài lòng cho khách
                hàng và đối tác
              </li>

              <li>Vui vẻ hòa nhã</li>
            </ul>
          </div>
        </div>

        <div class="gt-th-item mb-3">
          <div class="img">
            <img
              src="img/gioithieu/icons_circle-check.svg"
              class="img-fluid"
              loading="lazy"
            />
          </div>
          <div class="tt h5 mb-0">Nhạy bén</div>
          <div class="sp soju__prose">
            <ul class="m-0 p-0">
              <li>
                Linh hoạt với nhu cầu của khách hàng, nhạy bén với sự thay đổi
                của thị trường
              </li>

              <li>
                Tập trung phát triển những sản phẩm dịch vụ mới, ứng dụng công
                nghệ mới vì lợi ích cao nhất của khách hàng và đối tác.hiểu nhằm
                đem lại sự hài lòng cho khách hàng và đối tác
              </li>
            </ul>
          </div>
        </div>

        <div class="gt-th-item mb-0">
          <div class="img">
            <img
              src="img/gioithieu/icons_circle-check.svg"
              class="img-fluid"
              loading="lazy"
            />
          </div>
          <div class="tt h5 mb-0">Đáng tin cậy</div>
          <div class="sp soju__prose">
            <ul class="m-0 p-0">
              <li>
                Tập trung vào việc thấu hiểu nhằm đem lại sự hài lòng cho khách
                hàng và đối tác
              </li>

              <li>Vui vẻ hòa nhã</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 gt-th-img">
    <img src="img/gioithieu/gt-th-bg.png" alt="" />
  </div>
</section>

<section
  class="
    bg-light
    position-relative
    section-normal
    gt-th-section
    overflow-visible
  "
>
  <div class="container px-4 px-md-3">
    <div class="row mt-3">
      <div class="col-12 col-lg-6 offset-lg-5">
        <h2
          class="h1 fw-bold text-primary text-left mb-0 reveal"
          data-reveal-delay="200"
        >
          Quy trình nghiệp vụ
        </h2>

        <hr class="gt-heading-hr mb-2 mt-3 bg-primary-2" />

        <p class="">
          Nhằm đảm bảo chất lượng dịch vụ khách hàng, các quy trình nghiệp vụ
          của ACBS đã được chuẩn hóa tiêu chuẩn ISO 9001: 2008.
        </p>
        <p>
          Ngoài ra, nhằm đảm bảo minh bạch và quyền lợi khách hàng cũng như tuân
          thủ quy định của pháp luật, ACBS đã tách bạch tài khoản tiền gửi của
          từng khách hàng với tài khoản của ACBS ngay từ ngày đầu thành lập.
        </p>
        <p>Kiểm toán độc lập: NGÂN HÀNG THƯƠNG MẠI CỔ PHẨN Á CHÂU (ACB)</p>
      </div>
    </div>
  </div>

  <div class="col-lg-5 gt-th-img2">
    <img src="img/gioithieu/stock-img.png" alt="" />
  </div>
</section>

<section class="bg-white section-normal">
  <div class="container px-4 px-md-3">
    <div class=" section-normal-title">
      <h2
        class="h1 fw-bold text-primary text-center mb-0 reveal"
        data-reveal-delay="200"
      >
        Sơ đồ tổ chức
      </h2>

      <hr class="gt-heading-hr mb-2 mx-auto mt-3 bg-primary-2" />
    </div>
    <div>
      <img
        src="img/gioithieu/sodotochuc-desktop.png"
        class="d-block mx-auto img-fluid"
        loading="lazy"
        alt=""
      />
    </div>
  </div>
</section>



    <!-- Footer -->
     <a href="tel:1900 5555 33" class="acbs-direct-message" style="">
  <img src="img/hotline-ico.svg" />
  <span>Hotline: </span>
  <p>1900 5555 33</p>
</a>

<section class="acbs-transaction">
  <div class="acbs-transaction__detail">
    <div class="acbs-transaction__detail__title">
      <h1 class="acbs-display-4">Kết nối với ACBS ở mọi lúc mọi nơi</h1>
      <p class="text-primary-2">
        Tải ngay app ACBS để cập nhật thông tin mới nhất
      </p>
    </div>
    <div class="store-download">
      <a href="">
        <img src="img/appstore-download.png " alt=" " />
      </a>
      <a href="">
        <img src="img/google-play-download.png " alt=" " />
      </a>
    </div>
    <!-- <button class="my-button my-button__primary ">Bảng điện tử</button>
      <button class="my-button my-button__primary ">Trade Login Portal</button> -->
  </div>
</section>

<footer class="acbs-footer">
  <div class="container px-4 px-md-3">
    <div class="footer-wrap row">
      <ul class="phone list-unstyled footer-item col-12 col-md-auto">
        <li class="mb-2">
          <a href="tel:1900 5555 33" class="fw-bold link-primary-2"
            >1900 5555 33</a
          >
          <span class="footer-highlight">24/7</span>
        </li>
        <li>
          <a href="tel:(028) 38234159" class="fw-bold link-primary-2"
            >(028) 38234159</a
          >
        </li>
      </ul>
      <ul class="list-unstyled font-sm footer-item col-12 col-md-auto">
        <li>
          <a href=" ">Câu hỏi thường gặp</a>
        </li>
        <li>
          <a href=" ">Điều khoản sử dụng</a>
        </li>
        <li>
          <a href=" ">Bảo mật thông tin khách hàng</a>
        </li>
      </ul>
      <ul class="list-unstyled font-sm footer-item col-12 col-md-auto">
        <li>
          <a href=" ">Giới thiệu</a>
        </li>
        <li>
          <a href=" ">Công bố thông tin</a>
        </li>
        <li>
          <a href=" ">Tuyển dụng</a>
        </li>
        <li>
          <a href=" ">Tin tức &amp; sự kiện</a>
        </li>
        <li>
          <a href=" ">Liên hệ</a>
        </li>
      </ul>
      <ul class="list-unstyled font-sm footer-item col-12 col-md-auto">
        <li>Địa chỉ: 41 Mạc Đĩnh Chi, phường Đa Kao, quận 1, TP. HCM</li>
        <li>
          H: <a href="">1900 5555 33 </a> – E: <a href="">acbs@acbs.com.vn</a>
        </li>
        <li>
          T: <a href="">(028) 38234159 </a> – F: <a href="">(08) 38235060</a>
        </li>
        <li>
          Tên cơ quan chủ quản: Ngân hàng TMCP Á Châu Giấy phép số 46/GP-TTĐT
          ngày cấp 08/05/2015 Sở Thông tin và Truyền thông Tp.HCM
        </li>
      </ul>
      <div class="social font-sm footer-item col-12 col-md">
        <div
          class="d-flex flex-nowrap align-items-center justify-content-md-end"
        >
          <p class="mb-0 me-2">Mạng xã hội</p>
          <a href=" " class="px-1">
            <img src="img/facebook.svg " />
          </a>
          <a href=" ">
            <img src="img/youtube.svg " />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright text-blue">
    <div class="container px-4 px-md-3">
      <p class="mb-0">© 2021 Công Ty Chứng Khoán ACB | ACBS.com.vn</p>
    </div>
  </div>
</footer>
 

    <script src="js/jquery.min.js"></script>
    <!-- <script defer src="js/bootstrap.js" crossorigin="anonymous"></script> -->
    <!-- <script defer src="js/parcel.js"></script> -->

    <!-- <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script> -->

    <script defer src="js/popper.min.js"></script>
    <script defer src="js/bootstrap.min.js"></script>


    <script defer src="js/simple-scrollbar.min.js"></script>
    <script defer src="js/swiper-bundle.min.js"></script>

    <script defer src="js/bootstrap-select.min.js"></script>
    <script defer src="js/bootstrap-datepicker.min.js"></script>
    <script defer src="js/bootstrap-datepicker.vi.min.js"></script>

    <!-- <script defer src="js/counterup.js"></script> -->
    <script src="https://unpkg.com/counterup2@2.0.2/dist/index.js">	</script>
    <script defer src="js/main.js"></script>

     
  </body>
</html>
