<div class="page-s1">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#" class="link-primary-2">Trang chủ</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">
          Phân tích cổ phiếu
        </li>
      </ol>
    </nav>
  </div>

  <div class="container">
    <h1 class="h1 fw-bold text-primary">
      Tin tức & <span class="text-primary-2">Sự kiện</span>
    </h1>

    <div class="row mt-4">
      <div class="col-12 col-md-8 col-lg-8">
        <div class="heading-s1 mb-4">
          <h3 class="h5 fw-bold heading-s1-tt mb-0">Tin nổi bật</h3>
        </div>

        <div class="new-t1">
          <div class="ratio ratio-21x9 bg-light">
            <div class="new-wrap">
              <img
                src="img/img-feature.png"
                loading="lazy"
                class="img-fluid new-img"
                alt=""
              />

              <div class="new-content">
                <h4 class="title">
                  <a href="" class="link-white-lemon"
                    >THÔNG BÁO BÁN ĐẤU GIÁ: CÔNG TY CỔ PHẦN SẢN XUẤT VÀ THƯƠNG
                    MẠI NHỰA VIỆT THÀNH
                  </a>
                </h4>
                <div class="meta font-sm">
                  <span class="eyebrow text-primary-2"> 26/01/2021 </span> -
                  <span class="time">1 hour ago</span>
                </div>

                <div class="action">
                  <a
                    href="tin-tuc-su-kien-detail.html"
                    class="btn btn-sm btn-primary-2 stretched-link"
                    >Xem thêm</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          
          <div class="col-12 col-sm-4">
            <div class="new-t2">
              <div class="new-content">
                <div class="meta font-sm mb-1">
                  <span class="eyebrow text-primary"> 26/01/2021 </span> -
                  <span class="time">1 hour ago</span>
                </div>

                <h4 class="title h6">
                  <a href="" class="link-dark-blue"
                    >THÔNG BÁO BÁN ĐẤU GIÁ: CÔNG TY CỔ PHẦN SẢN XUẤT VÀ THƯƠNG
                    MẠI NHỰA VIỆT THÀNH
                  </a>
                </h4>
              </div>
            </div>
          </div>
          
          <div class="col-12 col-sm-4">
            <div class="new-t2">
              <div class="new-content">
                <div class="meta font-sm mb-1">
                  <span class="eyebrow text-primary"> 26/01/2021 </span> -
                  <span class="time">1 hour ago</span>
                </div>

                <h4 class="title h6">
                  <a href="" class="link-dark-blue"
                    >THÔNG BÁO BÁN ĐẤU GIÁ: CÔNG TY CỔ PHẦN SẢN XUẤT VÀ THƯƠNG
                    MẠI NHỰA VIỆT THÀNH
                  </a>
                </h4>
              </div>
            </div>
          </div>
          
          <div class="col-12 col-sm-4">
            <div class="new-t2">
              <div class="new-content">
                <div class="meta font-sm mb-1">
                  <span class="eyebrow text-primary"> 26/01/2021 </span> -
                  <span class="time">1 hour ago</span>
                </div>

                <h4 class="title h6">
                  <a href="" class="link-dark-blue"
                    >THÔNG BÁO BÁN ĐẤU GIÁ: CÔNG TY CỔ PHẦN SẢN XUẤT VÀ THƯƠNG
                    MẠI NHỰA VIỆT THÀNH
                  </a>
                </h4>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="d-flex align-items-center flex-nowrap mb-4">
          <div class="heading-s1 mb-0 flex-grow-1">
            <h3 class="h5 fw-bold heading-s1-tt mb-0">Thông báo từ ACBS</h3>
          </div>
          <div class="flex-shrink-0 ps-3">
            <a href="">Xem tất cả </a>
          </div>
        </div>

        <div class="new-widget new-widget-ss">
          

          <div class="new-t3 d-flex align-items-center flex-nowrap">
            <div class="new-date flex-shrink-0 me-3">
              <div class="ratio ratio-1x1">
                <div
                  class="
                    new-date-content
                    bg-primary
                    d-flex
                    flex-column flex
                    align-items-center
                    justify-content-center
                  "
                >
                  <div class="h5 fw-bold mb-0 text-white">24</div>
                  <div class="font-sm">Tháng 3 2021</div>
                </div>
              </div>
            </div>

            <div class="new-content flex-grow-1">
              <div class="meta font-sm mb-1">
                <span class="eyebrow text-primary"> 26/01/2021 </span> -
                <span class="time">1 hour ago</span>
              </div>

              <h4 class="title h6">
                <a href="" class="link-dark-blue"
                  >THÔNG BÁO THỰC HIỆN QUYỀN MUA PHÁT HÀNH THÊM VIX
                </a>
              </h4>
            </div>
          </div>

          <div class="new-t3 d-flex align-items-center flex-nowrap">
            <div class="new-date flex-shrink-0 me-3">
              <div class="ratio ratio-1x1">
                <div
                  class="
                    new-date-content
                    text-black
                    bg-primary-2
                    d-flex
                    flex-column flex
                    align-items-center
                    justify-content-center
                  "
                >
                  <div class="h5 fw-bold mb-0 text-black">24</div>
                  <div class="font-sm">Tháng 3 2021</div>
                </div>
              </div>
            </div>

            <div class="new-content flex-grow-1">
              <div class="meta font-sm mb-1">
                <span class="eyebrow text-primary"> 26/01/2021 </span> -
                <span class="time">1 hour ago</span>
              </div>

              <h4 class="title h6">
                <a href="" class="link-dark-blue"
                  >THÔNG BÁO BÁN ĐẤU GIÁ: CÔNG TY CỔ PHẦN SẢN XUẤT VÀ THƯƠNG MẠI
                  NHỰA VIỆT THÀNH
                </a>
              </h4>
            </div>
          </div>

          

          <div class="new-t3 d-flex align-items-center flex-nowrap">
            <div class="new-date flex-shrink-0 me-3">
              <div class="ratio ratio-1x1">
                <div
                  class="
                    new-date-content
                    bg-primary
                    d-flex
                    flex-column flex
                    align-items-center
                    justify-content-center
                  "
                >
                  <div class="h5 fw-bold mb-0 text-white">24</div>
                  <div class="font-sm">Tháng 3 2021</div>
                </div>
              </div>
            </div>

            <div class="new-content flex-grow-1">
              <div class="meta font-sm mb-1">
                <span class="eyebrow text-primary"> 26/01/2021 </span> -
                <span class="time">1 hour ago</span>
              </div>

              <h4 class="title h6">
                <a href="" class="link-dark-blue"
                  >THÔNG BÁO THỰC HIỆN QUYỀN MUA PHÁT HÀNH THÊM VIX
                </a>
              </h4>
            </div>
          </div>

          <div class="new-t3 d-flex align-items-center flex-nowrap">
            <div class="new-date flex-shrink-0 me-3">
              <div class="ratio ratio-1x1">
                <div
                  class="
                    new-date-content
                    text-black
                    bg-primary-2
                    d-flex
                    flex-column flex
                    align-items-center
                    justify-content-center
                  "
                >
                  <div class="h5 fw-bold mb-0 text-black">24</div>
                  <div class="font-sm">Tháng 3 2021</div>
                </div>
              </div>
            </div>

            <div class="new-content flex-grow-1">
              <div class="meta font-sm mb-1">
                <span class="eyebrow text-primary"> 26/01/2021 </span> -
                <span class="time">1 hour ago</span>
              </div>

              <h4 class="title h6">
                <a href="" class="link-dark-blue"
                  >THÔNG BÁO BÁN ĐẤU GIÁ: CÔNG TY CỔ PHẦN SẢN XUẤT VÀ THƯƠNG MẠI
                  NHỰA VIỆT THÀNH
                </a>
              </h4>
            </div>
          </div>

          

          <div class="new-t3 d-flex align-items-center flex-nowrap">
            <div class="new-date flex-shrink-0 me-3">
              <div class="ratio ratio-1x1">
                <div
                  class="
                    new-date-content
                    bg-primary
                    d-flex
                    flex-column flex
                    align-items-center
                    justify-content-center
                  "
                >
                  <div class="h5 fw-bold mb-0 text-white">24</div>
                  <div class="font-sm">Tháng 3 2021</div>
                </div>
              </div>
            </div>

            <div class="new-content flex-grow-1">
              <div class="meta font-sm mb-1">
                <span class="eyebrow text-primary"> 26/01/2021 </span> -
                <span class="time">1 hour ago</span>
              </div>

              <h4 class="title h6">
                <a href="" class="link-dark-blue"
                  >THÔNG BÁO THỰC HIỆN QUYỀN MUA PHÁT HÀNH THÊM VIX
                </a>
              </h4>
            </div>
          </div>

          <div class="new-t3 d-flex align-items-center flex-nowrap">
            <div class="new-date flex-shrink-0 me-3">
              <div class="ratio ratio-1x1">
                <div
                  class="
                    new-date-content
                    text-black
                    bg-primary-2
                    d-flex
                    flex-column flex
                    align-items-center
                    justify-content-center
                  "
                >
                  <div class="h5 fw-bold mb-0 text-black">24</div>
                  <div class="font-sm">Tháng 3 2021</div>
                </div>
              </div>
            </div>

            <div class="new-content flex-grow-1">
              <div class="meta font-sm mb-1">
                <span class="eyebrow text-primary"> 26/01/2021 </span> -
                <span class="time">1 hour ago</span>
              </div>

              <h4 class="title h6">
                <a href="" class="link-dark-blue"
                  >THÔNG BÁO BÁN ĐẤU GIÁ: CÔNG TY CỔ PHẦN SẢN XUẤT VÀ THƯƠNG MẠI
                  NHỰA VIỆT THÀNH
                </a>
              </h4>
            </div>
          </div>

          

          <div class="new-t3 d-flex align-items-center flex-nowrap">
            <div class="new-date flex-shrink-0 me-3">
              <div class="ratio ratio-1x1">
                <div
                  class="
                    new-date-content
                    bg-primary
                    d-flex
                    flex-column flex
                    align-items-center
                    justify-content-center
                  "
                >
                  <div class="h5 fw-bold mb-0 text-white">24</div>
                  <div class="font-sm">Tháng 3 2021</div>
                </div>
              </div>
            </div>

            <div class="new-content flex-grow-1">
              <div class="meta font-sm mb-1">
                <span class="eyebrow text-primary"> 26/01/2021 </span> -
                <span class="time">1 hour ago</span>
              </div>

              <h4 class="title h6">
                <a href="" class="link-dark-blue"
                  >THÔNG BÁO THỰC HIỆN QUYỀN MUA PHÁT HÀNH THÊM VIX
                </a>
              </h4>
            </div>
          </div>

          <div class="new-t3 d-flex align-items-center flex-nowrap">
            <div class="new-date flex-shrink-0 me-3">
              <div class="ratio ratio-1x1">
                <div
                  class="
                    new-date-content
                    text-black
                    bg-primary-2
                    d-flex
                    flex-column flex
                    align-items-center
                    justify-content-center
                  "
                >
                  <div class="h5 fw-bold mb-0 text-black">24</div>
                  <div class="font-sm">Tháng 3 2021</div>
                </div>
              </div>
            </div>

            <div class="new-content flex-grow-1">
              <div class="meta font-sm mb-1">
                <span class="eyebrow text-primary"> 26/01/2021 </span> -
                <span class="time">1 hour ago</span>
              </div>

              <h4 class="title h6">
                <a href="" class="link-dark-blue"
                  >THÔNG BÁO BÁN ĐẤU GIÁ: CÔNG TY CỔ PHẦN SẢN XUẤT VÀ THƯƠNG MẠI
                  NHỰA VIỆT THÀNH
                </a>
              </h4>
            </div>
          </div>

          

          <div class="new-t3 d-flex align-items-center flex-nowrap">
            <div class="new-date flex-shrink-0 me-3">
              <div class="ratio ratio-1x1">
                <div
                  class="
                    new-date-content
                    bg-primary
                    d-flex
                    flex-column flex
                    align-items-center
                    justify-content-center
                  "
                >
                  <div class="h5 fw-bold mb-0 text-white">24</div>
                  <div class="font-sm">Tháng 3 2021</div>
                </div>
              </div>
            </div>

            <div class="new-content flex-grow-1">
              <div class="meta font-sm mb-1">
                <span class="eyebrow text-primary"> 26/01/2021 </span> -
                <span class="time">1 hour ago</span>
              </div>

              <h4 class="title h6">
                <a href="" class="link-dark-blue"
                  >THÔNG BÁO THỰC HIỆN QUYỀN MUA PHÁT HÀNH THÊM VIX
                </a>
              </h4>
            </div>
          </div>

          <div class="new-t3 d-flex align-items-center flex-nowrap">
            <div class="new-date flex-shrink-0 me-3">
              <div class="ratio ratio-1x1">
                <div
                  class="
                    new-date-content
                    text-black
                    bg-primary-2
                    d-flex
                    flex-column flex
                    align-items-center
                    justify-content-center
                  "
                >
                  <div class="h5 fw-bold mb-0 text-black">24</div>
                  <div class="font-sm">Tháng 3 2021</div>
                </div>
              </div>
            </div>

            <div class="new-content flex-grow-1">
              <div class="meta font-sm mb-1">
                <span class="eyebrow text-primary"> 26/01/2021 </span> -
                <span class="time">1 hour ago</span>
              </div>

              <h4 class="title h6">
                <a href="" class="link-dark-blue"
                  >THÔNG BÁO BÁN ĐẤU GIÁ: CÔNG TY CỔ PHẦN SẢN XUẤT VÀ THƯƠNG MẠI
                  NHỰA VIỆT THÀNH
                </a>
              </h4>
            </div>
          </div>

          
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="d-flex align-items-center flex-nowrap mb-4">
      <div class="heading-s1 mb-0 flex-grow-1">
        <h3 class="h5 fw-bold heading-s1-tt mb-0">Tin doanh nghiệp</h3>
      </div>
      <div class="flex-shrink-0 ps-3">
        <a href="">Xem tất cả </a>
      </div>
    </div>
  </div>
</div>
